{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {# HERO #}
    <header class="hero-section">
        <video id="heroVideo" muted playsinline preload="auto">
            <source src="{{ asset('video/header.mp4') }}" type="video/mp4">
        </video>

        <div class="hero-outro">
            <div class="hero-outro-content">
                <img
                    src="{{ asset('img/logo.png') }}"
                    class="hero-outro-logo"
                    alt="PawfectMatch Logo"
                >
                <p class="hero-subtitle hero-outro-subtitle">
                    Everyone deserves a pawfect home
                </p>
            </div>
        </div>
    </header>

    {# MAIN CONTENT #}
    <div class="container index-container">
        <h1 class="paw-card-h1">Current list of available pets</h1>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% if pets is not empty %}
                {% for pet in pets %}
                    {% set imgSrc = pet.image starts with 'http'
                        ? pet.image
                        : asset('img/' ~ pet.image)
                    %}

                    <div class="col">
                        <div class="card paw-card paw-card--index">
                            <div class="paw-card-inner">
                                <div class="paw-card-content">
                                    <img
                                        src="{{ imgSrc }}"
                                        class="paw-card-img"
                                        alt="{{ pet.name }}"
                                        onerror="this.src='{{ asset('img/default-animals.png') }}'"
                                    >

                                    <div class="paw-card-title-wrapper">
                                        <h5 class="paw-card-title">{{ pet.name }}</h5>
                                        <hr class="index-card-hr">
                                        <p class="paw-card-meta">
                                            Breed: {{ pet.breed ?? 'Unknown' }}
                                        </p>
                                    </div>

                                    <a
                                        href="{{ path('pets_detail', { id: pet.id }) }}
"
                                        class="btn paw-card-btn"
                                    >
                                        🐾 More Details 🐾
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    <h3 class="my-3">No animals found</h3>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}
